
/*MOBILE FIRST DESIGN*/

/*Set background color and font family*/
body {
    background-color: #F0ECEE;
    font-family: "Fira Sans";
}

/*Adjust nav menu with flex properties*/
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;  /*Get rid of the dots next to nav link options*/
}

/*Get ride of the link underlines and change link color*/
nav a {
  color: #88898B;
  text-decoration: none;
}

/*Set link hover color*/
nav a:hover {
  background-color: #FF4850;
}

button{
  font-family: "Fira Sans";
  color: white;
}

/*Set button color, padding, radius*/
.button {
  background-color: #FF4850;
  padding: 10px;
  border-radius: 15px;
  width: 100%  /*Change button width for Mobile*/
}


/*Set button hover color*/
.button:hover {
  background-color: #CCC;
}

#redColor{
  color: #FF4850;
}

/* Use flexbox for menu changes with screen size change*/
@media screen and (min-width: 768px){

    body {
       /*Set background image for bigger screens*/
      background-image: url(bulldog.jpg);
      background-color: #F0ECEE;
      background-size: cover;
      background-repeat: no-repeat;
    }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  nav li {
    justify-content: space-between;
  }

  nav a{
    color: #88898B;
  }

  .button {
    width: auto; /*Change button width for desktop*/
  }

}
