
/*CSS for index.html - Mobile First design (attempt).. Still need more practice with this!!
Certain design aspects were giving me issues and I'm still trying to understand why.
Did my best! Excited to get much better soon  :) - Written in the Atom text editor */

/*Set background color (for mobile first) and font family*/
body {
    background-color: #F0ECEE;
    font-family: "Fira Sans";
}

/*Adjust nav menu with flex properties*/
nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;  /*Get rid of the dots next to nav link options*/
}

/*Get ride of the link underlines and change link color*/
nav a {
  color: #88898B;
  text-decoration: none;
}

/*Set link hover color*/
nav a:hover {
  background-color: #FF4850;
}

/*Set button color, padding, radius*/
.button {
  background-color: #FF4850;
  padding: 10px;
  border-radius: 15px;
}

/*Set button hover color*/
.button:hover {
  background-color: #CCC;
}

/* Use flexbox for menu changes with screen size change*/
@media screen and (min-width: 768px){

    body {
       /*Set background image for bigger screens*/
      background-image: url(bulldog.jpg);
      background-color: #F0ECEE;
      background-size: cover;
    }

  nav ul{
    display: flex;
    justify-content:space-between;
  }

  nav li {
    justify-content: space-between;
  }

  nav a{
    color: #88898B;
  }

  .button {
    width: auto;
  }

}
